.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap {
	background: #e9eff3;
	padding: 50px;
	border: 10px solid #fff;
	margin-top: 20px;
	margin-right: 20px;
	color: #608299;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h1,
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h2,
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h3,
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h4,
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h5,
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap h6 {
	color: #2e4453;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-wrap a {
	color: #00aadc;
	text-decoration: underline;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav {
	background-color: #0087be;
	margin: -50px -50px 0;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 1em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	.fiftyshadesfurniture-welcome-nav__version {
	float: right;
	color: #a5c9e1;
	display: inline-block;
	padding: 1em 2em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	ul,
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	li {
	list-style: none;
	padding: 0;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	ul {
	margin: 0 0 0 1em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-welcome-nav
	li {
	display: inline-block;
	margin: 0;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-logo {
	border: 0;
	background: #fff;
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	text-align: center;
	position: relative;
	margin-top: -20px;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 90px;
	height: auto;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-intro {
	max-width: 415px;
	margin: 0 auto;
	text-align: center;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-intro h1 {
	line-height: 1.5;
	font-weight: 400;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-intro
	h1
	span {
	display: block;
	font-size: 75%;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-intro
	.notice-input {
	text-align: left;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-intro
	.notice-input:last-of-type {
	margin-bottom: 16px;
}
.appearance_page_fiftyshadesfurniture-welcome .sf-nux-dismiss-button {
	margin-left: 16px;
}
.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-enhance {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin: 4em 0;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-enhance__column {
	border: 1px solid #d8e2e9;
	width: 300px;
	margin: 0 1em;
	background: #fff;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-enhance__column
	h3 {
	font-size: 1em;
	font-weight: 400;
	color: #87a6bc;
	border-bottom: 1px solid #d8e2e9;
	padding: 1em 1.5em;
	margin: 0;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-enhance__column
	img {
	width: 100%;
	height: auto;
	margin-bottom: 1.5em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-bundle,
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-child-themes {
	padding-bottom: 0.5em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-bundle
	p,
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-child-themes
	p {
	padding: 0 1.5em;
	margin: 0 0 1em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-bundle {
	order: 2;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-bundle
	.bundle-image {
	display: block;
	background: #f7f7f7;
	margin-bottom: 1.5em;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-bundle
	.bundle-image
	img {
	display: block;
	max-width: 75%;
	margin: 0 auto;
}
.appearance_page_fiftyshadesfurniture-welcome
	.fiftyshadesfurniture-enhance
	.fiftyshadesfurniture-child-themes {
	order: 3;
}
.appearance_page_fiftyshadesfurniture-welcome a.fiftyshadesfurniture-button {
	color: #2e4453;
	border: 1px solid #c8d7e1;
	padding: 0.5em 1em;
	border-radius: 3px;
	font-weight: 600;
	display: inline-block;
	box-shadow: 0 1px 0 #c8d7e1;
	text-decoration: none;
	background-color: #fff;
	text-shadow: none;
	height: auto;
	line-height: 1.5;
}
.appearance_page_fiftyshadesfurniture-welcome
	a.fiftyshadesfurniture-button:hover {
	border-color: #a8bece;
	box-shadow: 0 1px 0 #a8bece;
}
.appearance_page_fiftyshadesfurniture-welcome
	a.fiftyshadesfurniture-button.disabled {
	cursor: default;
	color: #c8d7e1;
}
.appearance_page_fiftyshadesfurniture-welcome
	a.fiftyshadesfurniture-button.disabled:hover {
	border-color: #c8d7e1;
	box-shadow: 0 1px 0 #c8d7e1;
}
.appearance_page_fiftyshadesfurniture-welcome .automattic {
	text-align: center;
	clear: both;
}
.appearance_page_fiftyshadesfurniture-welcome .automattic p {
	font-size: 0.75em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #aaa;
}
.appearance_page_fiftyshadesfurniture-welcome .automattic img {
	max-height: 9px;
	margin: 0 0.5407911001em;
	margin-top: -3px;
	opacity: 0.5;
}
@media all and (max-width: 768px) {
	.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-logo {
		margin-top: 20px;
	}
	.appearance_page_fiftyshadesfurniture-welcome .fiftyshadesfurniture-enhance {
		display: block;
		margin: 2em 0;
	}
	.appearance_page_fiftyshadesfurniture-welcome
		.fiftyshadesfurniture-enhance
		.fiftyshadesfurniture-enhance__column {
		margin: 1em auto;
	}
}
